<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="base.patient.mapper.DiagnosisParenchymaItemMapper">

    <sql id="columns">
        id,item,position,length,width,diagnosisId,`index`,createDate,updateDate,deleted
    </sql>

    <sql id="insertColumns">
        item,position,length,width,diagnosisId,`index`,createDate,updateDate,deleted
    </sql>

    <select id="listByDiagnosisId" resultType="DiagnosisParenchymaItem">
        SELECT * FROM t_diagnosis_parenchyma_item WHERE diagnosisId=#{id} AND deleted=0
    </select>

    <insert id="addEntry" parameterType="DiagnosisParenchymaItem"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_diagnosis_parenchyma_item(
        <include refid="insertColumns"/>
        ) VALUES(#{item},#{position},#{length},#{width},#{diagnosisId},#{index},#{createDate},#{updateDate},#{deleted})
    </insert>

    <update id="updateEntry" parameterType="DiagnosisParenchymaItem">
        UPDATE t_diagnosis_parenchyma_item SET
            item=#{item},
            position=#{position},
            length=#{length},
            width=#{width},
            diagnosisId=#{diagnosisId},
            `index`=#{index},
            updateDate=#{updateDate},
            deleted=#{deleted}
        WHERE   id=#{id}
    </update>
    <delete id="deleteByIds">
        delete from t_diagnosis_parenchyma_item where id in
        <foreach item="item" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>