<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="base.patient.mapper.DiagnosisComplicationItemMapper">

    <sql id="columns">
        id,`index`,name,diagnosisDate,diagnosisId,createDate,updateDate,deleted
    </sql>

    <sql id="insertColumns">
       `index`,name,diagnosisDate,diagnosisId,createDate,updateDate,deleted
    </sql>

    <select id="listByDiagnosisId" resultType="DiagnosisComplicationItem">
        SELECT * FROM t_diagnosis_complication_item WHERE diagnosisId=#{id} AND deleted=0
    </select>

    <insert id="addEntry" parameterType="DiagnosisComplicationItem"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_diagnosis_complication_item(
        <include refid="insertColumns"/>
        ) VALUES(#{index},#{name},#{diagnosisDate},#{diagnosisId},#{createDate},#{updateDate},#{deleted})
    </insert>

    <update id="updateEntry" parameterType="DiagnosisComplicationItem">
        UPDATE t_diagnosis_complication_item SET
            `index`=#{index},
            name=#{name},
            diagnosisDate=#{diagnosisDate},
            diagnosisId=#{diagnosisId},
            updateDate=#{updateDate},
            deleted=#{deleted}
        WHERE   id=#{id}
    </update>

    <delete id="deleteByIds">
        delete from t_diagnosis_complication_item where id in
        <foreach item="item" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>