<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="base.patient.mapper.FollowupComplicationStatusMapper">

    <sql id="columns">
        id,item,result,`index`,followupId,createDate,updateDate,deleted
    </sql>

    <sql id="insertColumns">
        item,result,`index`,followupId,createDate,updateDate,deleted
    </sql>

    <select id="listByFollowupId" resultType="FollowupComplicationStatus">
        SELECT * FROM t_followup_complication_status WHERE followupId=#{id} AND deleted=0
    </select>

    <insert id="addEntry" parameterType="FollowupComplicationStatus"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_followup_complication_status(
        <include refid="insertColumns"/>
        ) VALUES(#{item},#{result},#{index},#{followupId},#{createDate},#{updateDate},#{deleted})
    </insert>

    <update id="updateEntry" parameterType="FollowupComplicationStatus">
        UPDATE t_followup_complication_status SET
            item=#{item},
            result=#{result},
            `index`=#{index},
            followupId=#{followupId},
            updateDate=#{updateDate},
            deleted=#{deleted}
        WHERE   id=#{id}
    </update>
    <delete id="deleteByIds">
        delete from t_followup_complication_status where id in
        <foreach item="item" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>